1. Requirements.txt (El "Congelador")
El archivo requirements.txt se utiliza principalmente para definir un entorno de ejecución completo. Su objetivo es la reproducibilidad.

Propósito: Desplegar una aplicación o configurar un entorno de desarrollo exacto.

Contenido: Suele contener versiones específicas y "congeladas" (ej. pandas==2.1.0).

Uso común: Aplicaciones web (Django/Flask), proyectos de análisis de datos o scripts internos.

-----------------------------
# Python 3.12 min recomendado
# PyQt6

PyQt6==6.9.0
PyQt6-WebEngine==6.9.0
PyQt6-Qt6==6.9.0
PyQt6-sip==13.9.1
-----------------------------

pip install -r requirements.txt



